.inputRange {
  margin-right: 12px;
}

.title {
  margin-bottom: 8px;
  font: var(--g-p3);
  color: var(--g-dark);
}

.wrap {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: var(--g-minmax);
  align-items: center;
  column-gap: 24px;
}

.value {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;

  font: var(--g-h4);
  color: var(--g-dark);

  background-color: var(--g-white);
  border: 1px solid var(--g-border);
  border-radius: 2px;
}

.value_min {
}

.value_max {

}
