@import './../../../assets/style';

.table {
  display: grid;
  grid-template-columns: repeat(5, minmax(min-content, 1fr));
}

.thead {
}

.tbody {

}

.tr {

}

.td {
}

.tdWrap {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  &:hover {
    -webkit-line-clamp: unset;
  }
}
