@import './../../../../../assets/style';

.content {
  padding: 35px 24px 47px;
}

.input {
  margin-bottom: 29px;
}

.checkbox {
  margin-bottom: 35px;
}

.group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button_save {
  max-width: 127px;
}
