@import './src/assets/style';

.button {
  width: var(--c-button-width, 100%);
  padding: var(--c-button-padding, 8px);

  font: var(--c-button-font, var(--g-p2));
  color: var(--c-button-color, var(--g-white));

  background-color: var(--c-button-background-color, var(--g-blue-dark));
  border-radius: var(--c-button-border-radius, 30px);
  box-shadow: var(--c-button-box-shadow, 0 4px 18px var(--g-blue-dark), 0 3px 0 var(--g-blue));
  transition:
          transform 300ms ease,
          color 300ms ease,
          background-color 300ms ease,
          box-shadow 300ms ease;

  &:hover {
    background-color: var(--c-button-hover-background-color, var(--g-blue-light));
    color: var(--c-button-hover-color, var(--g-blue-dark));
    box-shadow: var(--c-button-hover-box-shadow, 0 4px 18px var(--g-dark-opacity-20), 0 3px 0 var(--g-blue));
  }

  &:active {
    transform: var(--c-button-active-transform, translateY(3px));
    box-shadow: var(--c-button-active-box-shadow, 0 4px 18px var(--g-dark-opacity-20), 0 0px 0 var(--g-blue));
  }
}
.button[disabled]{
  background-color: var(--c-button-disabled-background-color, var(--g-disabled));
  box-shadow: var(--c-button-disabled-box-shadow, 0 4px 18px var(--g-disabled), 0 3px 0 var(--g-disabled));
  pointer-events: none;
}

.button_cansel {
  --button-width: 124px;
  --button-background-color: var(--g-blue-light);
  --button-color: var(--g-blue-dark);
  --button-box-shadow: 0 4px 18px var(--g-blue-light), 0 3px 0 var(--g-blue);
  --button-hover-box-shadow: 0 4px 18px var(--g-blue-dark), 0 3px 0 var(--g-blue);
  --button-hover-background-color: var(--g-blue-dark);
  --button-hover-color: var(--g-white);
}