.container {
  max-width: var(--g-container-width);
  padding: 0 var(--g-container-padding);
  margin: 0 auto;
  box-sizing: content-box;
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.tableG {
  border-collapse: collapse;
  box-shadow: 0 0 4px var(--g-border-table);
}

.theadG {

}

.tbodyG {

}

.theadG,
.tbodyG,
.trG {
  display: contents;
}

.trG {

}

.thG,
.tdG {
  padding: 15px;
  text-align: left;
  color: var(--g-dark);
}

.thG {
  font: var(--g-p3);
  white-space: nowrap;
  background-color: var(--g-blue-light-super);
}

.tdG {
  font: var(--g-p4-1);
}

.tbodyG .tdG {
  border-bottom: 1px solid var(--g-border-table);
}

.tbodyG .trG:last-of-type .tdG {
  border-bottom: unset;
}
