:root {
   --blue-dark: #21268F;
   --blue: #9A91C8;
   --blue-light: #DCCCDB;
   --blue-light-super: #EBE0E9;
   --blue-light-super-2: #D7D8EF;
   --white: #fff;

   --dark: #2D2E46;
   --dark-opacity-1: #2D2E46B3;
   --dark-opacity-2: #24254A80;
   --dark-opacity-3: #2D2E4666;
   --black: #000;
   --black-opacity-1: #00000080;
   --red: #F1453D;
}