:root {
   --blue-dark: #366EFF;
   --blue: #9A91C8;
   --blue-light: #DCCCDB;
   --blue-light-super: #EBE0E9;
   --blue-light-super-2: #D7D8EF;
   --white: #F9F9FE;

   --dark: #2D2E46;
   --dark-opacity-70: #2D2E46B3;
   --dark-opacity-50: #24254A80;
   --dark-opacity-40: #2D2E4666;
   --dark-opacity-20: #2D2E4633;
   --black: #000;
   --black-opacity-50: #00000080;
   --red: #F1453D;
   --disabled: #5c3b43;
}