:root {
  --g-blue-dark: #366EFF;
  --g-blue: #9A91C8;
  --g-blue-light: #DCCCDB;
  --g-blue-light-super: #EBE0E9;
  --g-blue-light-super-2: #D7D8EF;
  --g-blue-light-hover: #98b5ffbf;
  --g-white: #FCFCFC;

  --g-dark: #2D2E46;
  --g-dark-opacity-70: #2D2E46B3;
  --g-dark-opacity-50: #24254A80;
  --g-dark-opacity-40: #2D2E4666;
  --g-dark-opacity-20: #2D2E4633;
  --g-black: #000;
  --g-black-opacity-50: #00000080;
  --g-red: #F1453D;
  --g-error-response: #f19161;
  --g-disabled: #5c3b43;
  --g-border: #CFCFCF;
  --g-border-table: #D9D9D9;
}
