@font-face {
   font-family: SF-UI-Display-Bold;
   font-display: swap;
   src: url(./../fonts/SF-UI-Display-Bold.woff) format("woff2"),url(./../fonts/SF-UI-Display-Bold.woff) format("woff");
   font-weight: 400;
   font-style: normal
}

@font-face {
   font-family: SF-UI-Display-Semibold;
   font-display: swap;
   src: url(./../fonts/SF-UI-Display-Semibold.woff) format("woff2"),url(./../fonts/SF-UI-Display-Semibold.woff) format("woff");
   font-weight: 400;
   font-style: normal
}

@font-face {
   font-family: SF-UI-Display-Medium;
   font-display: swap;
   src: url(./../fonts/SF-UI-Display-Medium.woff) format("woff2"),url(./../fonts/SF-UI-Display-Medium.woff) format("woff");
   font-weight: 400;
   font-style: normal
}

@font-face {
   font-family: SF-UI-Display-Regular;
   font-display: swap;
   src: url(./../fonts/SF-UI-Display-Regular.woff) format("woff2"),url(./../fonts/SF-UI-Display-Regular.woff) format("woff");
   font-weight: 400;
   font-style: normal
}

@font-face {
   font-family: Poppins-SemiBold;
   font-display: swap;
   src: url(./../fonts/Poppins-SemiBold.woff) format("woff2"),url(./../fonts/Poppins-SemiBold.woff) format("woff");
   font-weight: 400;
   font-style: normal
}

@font-face {
   font-family: Lato-Regular;
   font-display: swap;
   src: url(./../fonts/Lato-Regular.woff) format("woff2"),url(./../fonts/Lato-Regular.woff) format("woff");
   font-weight: 400;
   font-style: normal
}

:root {
   --h1: 26px/1.2 Poppins-SemiBold;
   --h2: 22px/1.5 Poppins-SemiBold;
   --h3: 18px/1.3 Poppins-SemiBold;
   --h4: 16px/1.3 SF-UI-Display-Semibold;

   --p1: 16px/1.2 Poppins-SemiBold;

   --p2: 16px/1.3 SF-UI-Display-Medium;
   --p2-1: 16px/1.4 SF-UI-Display-Regular;
   --p2-2: 16px/1.2 SF-UI-Display-Regular;

   --p3: 14px/1.4 SF-UI-Display-Semibold;
   --p3-1: 14px/1.2 SF-UI-Display-Regular;

   --p4: 13px/1.2 SF-UI-Display-Bold;
   --p4-1: 13px/1.3 SF-UI-Display-Regular;

   --p5: 12px/1.2 SF-UI-Display-Semibold;

   --p6: 12px/1.2 Lato-Regular;
   --button: 16px/1.2 Poppins-SemiBold;
}
