@import './src/assets/style';

.forgot_password {
}

.title {
  margin-bottom: 57px;

  font: var(--h1);
  color: var(--dark);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 100%;
  --input-margin: 0 0 30px;
  --input-margin-error: 0 0 35px;
}

.text {
  margin-bottom: 90px;

  font: var(--p3);
  color: var(--dark-opacity-50);
  text-align: left;
}

.button {
  --button-width: 266px;
  --button-margin: 0 0 31px;
}