@import '../../../../assets/style';

.check_email {
}

.image {
  width: 108px;
  height: 108px;
  margin-bottom: 24px;
}

.title {
  margin-bottom: 20px;
}

.caption {
  margin-bottom: 12px;
}

.link {
  margin-bottom: 10px;
}