@import './src/assets/style';

.check_email {
}

.image {
  width: 108px;
  height: 108px;
  margin-bottom: 24px;
}

.title {
  margin-bottom: 20px;

  font: var(--h1);
  color: var(--dark);
}

.text {
  margin-bottom: 12px;

  font: var(--p3);
  color: var(--dark-opacity-50);
}

.link {
  display: block;
  margin-bottom: 10px;

  font: var(--h4);
  color: var(--blue-dark);
}