@import '../../../../assets/style';

.login {
}

.title {
  margin-bottom: 38px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group {
  align-self: stretch;
  display: grid;
  grid-auto-rows: var(--minmax);
  row-gap: 24px;
  margin-bottom: 48px;
}

.link_forgot {
  align-self: end;
  margin-bottom: 55px;
}

.button {
  --button-width: 266px;
  margin-bottom: 31px;
}

.caption {
  margin-bottom: 12px;
}