.input {
  margin: var(--input-margin);
}

.wrap {
  position: relative;
  transition: margin 500ms cubic-bezier(1,1.74,.05,1.9);
}

.wrap_error {
  margin: var(--wrap-error-margin, 0 0 8px);
}

.field {
  width: var(--field-width, 100%);
  height: var(--field-heigth, 48px);

  font: var(--field-font, var(--p2));
  color: var(--field-color, var(--dark));

  background-color: transparent;
  border: none;
}

.label {
  position: absolute;
  top: 60%;
  left: 0;
  transform: translateY(-50%);

  font: var(--label-font, var(--p4-1));
  color: var(--label-color, var(--dark-opacity-50));
  cursor: text;
  user-select: none;

  transition: top 300ms ease;

  &__value {
    top: 0;
  }

  &__error {
    color: var(--red);
  }

  &__valid {
    color: var(--blue-dark);
  }
}

.field:focus + .label {
  top: 0;
}

.button {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.line {
  position: absolute;
  bottom: 0;
  left: 0;

  width: var(--line-width, 100%);
  height: var(--line-height, 1px);

  background-color: var(--line-background-color, var(--dark-opacity-20));
  overflow: hidden;

  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);

    width: 100%;
    height: 100%;

    transition: transform 300ms ease;
  }

  &:before {
    background-color: var(--red);
  }

  &:after {
    background-color: var(--blue-dark);
  }

  &__error {
    &:before {
      transform: translateX(0);
    }
  }

  &__valid {
    &:after {
      transform: translateX(0);
    }
  }
}

.error {
  display: block;

  font: var(--error-font, var(--p4-1));
  color: var(--error-color, var(--red));
  text-align: var(--error-text-align, left);
}