.input {
}

.wrap {
  position: relative;
  transition: margin 500ms cubic-bezier(1,1.74,.05,1.9);
}

.wrap_error {
  margin: var(--c-wrap-error-margin, 0 0 8px);
}

.field {
  width: var(--c-field-width, 100%);
  height: var(--c-field-heigth, 48px);

  font: var(--c-field-font, var(--g-p2));
  color: var(--c-field-color, var(--g-dark));

  background-color: transparent;
  border: none;
}

.label {
  position: absolute;
  top: 60%;
  left: 0;
  transform: translateY(-50%);

  font: var(--c-label-font, var(--g-p4-1));
  color: var(--c-label-color, var(--g-dark-opacity-50));
  cursor: text;
  user-select: none;

  transition: top 300ms ease;
}

.label_value {
  top: 0;
}

.label_error {
  color: var(--g-red);
}

.label_valid {
  color: var(--g-blue-dark);
}

.field:focus + .label {
  top: 0;
}

.button {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.line {
  position: absolute;
  bottom: 0;
  left: 0;

  width: var(--c-line-width, 100%);
  height: var(--c-line-height, 1px);

  background-color: var(--c-line-background-color, var(--g-dark-opacity-20));
  overflow: hidden;

  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);

    width: 100%;
    height: 100%;

    transition: transform 300ms ease;
  }

  &:before {
    background-color: var(--g-red);
  }

  &:after {
    background-color: var(--g-blue-dark);
  }
}

.line_error {
  &:before {
    transform: translateX(0);
  }
}

.line_valid {
  &:after {
    transform: translateX(0);
  }
}