@import './../../../assets/style';

.table {
  display: grid;
  grid-template-columns:
          repeat(2, minmax(min-content, 2fr))
          repeat(2, minmax(min-content, 1.5fr))
          minmax(min-content, 1fr)
;
}

.image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
}
