.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 24px 36px;
}

.text {
  margin-bottom: 29px;
  font: var(--g-p3-1);
  text-align: center;

  span {
    font: var(--g-p3);
  }
}

.button_delete {
  max-width: 127px;
  --c-button-background-color: var(--g-red);
  --c-button-box-shadow: 0 4px 18px var(--g-red), 0 3px 0 var(--g-red);
}
