@import './src/assets/style';

.checkbox {

}

.input {

}

.label {
  --c-size: var(--c-label_before_size, 18px);
  --c-padding_left: var(--c-label_padding_left, calc(var(--c-size) + 12px));

  position: var(--c-label_position, relative);
  padding: var(--c-label_padding, 0 0 0 var(--c-padding_left));

  font: var(--c-label_font, var(--g-p3));
  color: var(--c-label_color, var(--g-black));

  cursor: var(--c-label_cursor, pointer);

  &::before {
    content: var(--c-label_before_content, '');
    position: var(--c-label_before_position, absolute);
    top: var(--c-label_before_top, 50%);
    left: var(--c-label_before_left, 0);
    transform: var(--c-label_before_transform, translateY(-50%));

    width: var(--c-label_before_size, var(--c-size));
    height: var(--c-label_before_size, var(--c-size));

    border: var(--c-label_before_border, 1px solid var(--g-dark));
    border-radius: var(--c-label_before_border-radius, 4px);
  }
}

.input:checked + .label::before {
  background: var(--c-input_checked_label_before_background, var(--c-input_checked_label_before_image, url('../../../assets/images/arrow.svg') no-repeat center center/100%));
  border: var(--c-input_checked_label_before_checked_border, unset);
}