@import '../../../../assets/style';

.login {
}

.title {
  margin-bottom: 38px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group {
  align-self: stretch;
  display: grid;
  grid-auto-rows: var(--g-minmax);
  row-gap: 24px;
  margin-bottom: 48px;
}

.error {
  margin-bottom: 12px;
  font-size: 13px;
  text-align: center;
  --c-error-color: var(--g-error-response);
}

.wrap {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: var(--g-minmax);
  column-gap: 36px;
  margin-bottom: 35px;
}

.button_register {
  --c-button-width: 187px;
}