@import "./src/assets/style";

.auth {
  display: flex;
  min-height: calc(100vh - var(--g-header-height));
}

.body {
  max-width: 415px;
  width: 100%;
  margin: auto;
  padding: 35px 35px 42px;

  text-align: center;

  background: var(--g-white);
  border-radius: 8px;
}