@import './src/assets/style';

.header {
  height: var(--g-header-height);
  background-color: var(--g-white);
  box-shadow: 0 2px 10px rgba(109, 109, 109, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.logo {
  @include media(max, md) {
    width: 150px;
  }
}

.button {
  --c-button-width: 113px;

  @include media(max, md) {
    --c-button-width: 90px;
  }
}

.user {
  display: grid;
  grid-auto-columns: var(--g-minmax);
  grid-auto-flow: column;
  align-items: center;
  column-gap: 12px;

  border-bottom: 1px dashed transparent;

  cursor: pointer;

  &:hover .name {
    border-bottom: 1px dashed var(--g-dark);
  }
}

.name {
  font: var(--g-p2);
}