.pasksList {
  padding-top: 36px;
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 34px;
}

.title {
  --c-title-font: var(--g-h2);
}

.button {
  --c-button-width: 175px;
}

.settings {
  display: flex;
  margin-bottom: 24px;
}

.inputSearch {
  margin-right: 24px;
}

.inputSearch {
  max-width: 413px;
}

.tabs {
  margin-right: 48px;
}
