.inputSearch {
  width: 100%;
}

.wrap {
  position: relative;
  height: 36px;
  overflow: hidden;
}

.icon {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);

  width: 16px;
  height: 16px;

  fill: var(--g-black-opacity-50);
  transition: left 330ms ease 100ms;
}

.title {
  margin-bottom: 8px;
  font: var(--g-p3);
  color: var(--g-dark);
}

.input {
  width: 100%;
  height: 100%;
  padding-left: 40px;
  padding-right: 5px;

  background-color: var(--g-white);
  border: 1px solid var(--g-blue-light);
  border-radius: 2px;

  transition: padding-left 500ms ease, padding-right 500ms ease;

  &::placeholder {
    font: var(--g-p3-1);
    color: var(--g-black-opacity-50);
  }

  &:focus {
    padding-left: 5px;
    padding-right: 40px;
  }
}

.input:focus + .icon {
  left: -15px;
}
