.pagePack {

}

.buttonBack {
  margin-top: 24px;
  margin-bottom: 27px;
}

.title {
  --c-title-font: var(--g-h2);
  align-self: flex-start;
  margin-bottom: 86px;
}

.contentNotCards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caption {
  margin-bottom: 32px;
}

.buttonAddCard {
  max-width: 171px;
}

.wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.inputSearch {
  margin-bottom: 24px;
}

.table {
  margin-bottom: 36px;
}
