.button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);

  padding: 5px 10px;

  font: var(--g-p5);
  color: var(--g-white);

  background-color: var(--g-blue-dark);
  border-radius: 4px;
  border: 1px solid transparent;
  transition: border 300ms ease;

  &:hover {
    box-shadow: 0 5px 10px var(--g-blue-light);
  }
}